:root
{
    /**CUSTOMS PROPIETERIS**/
    --blanco: #ffffff; 
    --obscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --gobierno: #9D2449;
    --mor:#AF272F
}

html
{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after 
    {
        box-sizing: inherit;
    }
body
{
    /*font-size: 16rem; 1rem = 10px */
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    
}

.top
{
    background-color: var(--gobierno);
    
}
.top-order
{
    display: flex;
    justify-content:space-between;
    margin: 0 2rem 0 2rem;
    align-items: center;
}
/**slider header**/
.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider p
{
    color: var(--blanco);
    text-transform: uppercase;
}
.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}
/**amimacion del encabezado**/


/**reloj**/
.clockdate span:nth-child(1)
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 700;
}
.clockdate span
{
    display: block;
    font-weight: 1rem;
    text-align: center;
    font-family: 'Bellota', cursive;
    color: var(--blanco);
}
.span:nth-child(1)
{
    position: relative;
    width: 6rem;
    line-height: 2.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    box-shadow: -1.5rem -1.5rem -1.5rem var(--blanco),
    1.5rem 1.5rem 1.5rem var(--blanco),
    inset -1.5rem -1.5rem 1.5rem var(--blanco),
    inset 1.5rem 1.5rem 1.5rem var(--blanco);
    color: var(--blanco);
    border: .5rem solid transparent;

}
.span:nth-child(2)
{
    line-height: 7rem;
    font-size: 2.6rem;
    counter-reset:var(--blanco);
    color: var(--blanco);
}

.titulo,
.fecha
{
    color: var(--blanco);
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: .1rem;
}
/**navegacion**/
.nav-container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--blanco);
    align-items: center;
    padding: 0 3rem;
}

.nav-logo
{
    width: 11rem;
    padding: .4rem 0;
}
.nav-logo img
{
    width: 100%;
    object-fit: cover;
}
.nav-link-container
{
    padding: 1.6rem 0;
}
.nav-links
{
    list-style: none;
}
.nav-links > .nav-link-items
{
    display: inline-block;
    margin: 0 2.5rem;
    position: relative;
}
.nav-links > .nav-link-items a
{
    text-decoration: none;
    display: flex;
    padding: .2rem 0;
    color: var(--gris);
    font-weight: 500;
    transition: 0.3s ease;
    align-items: center;
    font-size: 1.5rem;
}
.nav-links > .nav-link-items a:hover
{
    color: var(--gobierno);
}
.nav-link-items > a > .fa-chevron-down
{
    display: inline-block;
    height: 1.6rem;
    width: 1.6rem;
    margin-left: .8rem;
    transition: 0.3s ease;
    pointer-events: none;
}
.nav-link-items:hover > a > .fa-chevron-down
{
    transform: rotate(-180deg);
}
.nav-links > .nav-link-items > .dropdown-menu
{
    width: 200%;
    position: absolute;
    top: 70%;
    left: -1.6rem;
    border-radius: .9rem;
    overflow: hidden;
    background-color: var(--blanco);
    transform: translateY(0);
    transition: 0.3s ease;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: -1px 10px 17px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 17px -3px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 17px -3px rgba(0,0,0,0.75);
    z-index: 1;
    padding: 0;
    margin: 0 .2rem;
}
.nav-links> .nav-link-items:hover > .dropdown-menu
{
    transform: translateY(1rem);
    visibility: visible;
    opacity: 1;
    
}
.nav-links > .nav-link-items > .dropdown-menu > .dropdown-menu-item
{
    list-style: none;
    
}
.nav-links > .nav-link-items > .dropdown-menu > .dropdown-menu-item > a{
    color: #777;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
    padding: .8rem;
}
.nav-links > .nav-link-items > .dropdown-menu > .dropdown-menu-item > a:hover
{
    color: var(--mor);
    background-color: #f8cdda;
}
@media (max-width: 768px){
    body
    {
        max-width: 768px;
        overflow: hidden;
    }
    .nav-container
    {
        padding: 0 3rem;
    }
    
    
}
.hero
{
    background-image: url(../img/Atlacomulco-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    position: relative;
}
.contenido-hero
{
    position: absolute;
    background-color: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    

}
.contenido-hero h1
{
    color: var(--blanco);
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.boton
{
    background-color: #9D2449;
    padding: 2rem;
    color: var(--blanco);
    font-size: 2rem;
    text-decoration: none;
    
}
.contenido-hero a:hover
{
    background-color: var(--blanco);
}
h2
{
    color: #757575;
    text-align: center;
    font-size: 4rem;
}
/**tramites y servicos**/


.tramites-servicios
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3rem;
    margin: 4rem;
    
}
.tramites
{
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    width: 25rem;
    height: 25rem;
    text-align: center;

}
.tramites h3
{
    padding:2rem;
    font-size: 2rem;
}
.tramites p
{
    font-size: 1.5rem;
    margin: 1rem;
    padding-bottom: 1rem;

}
.tramites a
{
    color: var(--blanco);
    background-color:var(--gobierno);
    font-size: 1.5rem;
    padding: .2rem 1.6rem;
    border-radius: .2rem;
    text-decoration: none;
}
.tramites a:hover
{
    
}
.slider-cab
{
    background-color: var(--mor);
}